/**************************************************************/
/* General Stylings */
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace;
}
body {
  margin: 0px;
}
::selection {
  background-color: lavender;
}
/**************************************************************/
/* Specific Stylings */
.header {
  padding: 3rem 1rem;
  padding-top: 4.5rem;
  text-align: center;
  background-color: lavender;
  position: relative;
}
.heading-group {
  font-size: 4rem;
}
.main-heading {
  font-size: 1em;
}
.nav-link {
  padding: 0.25rem 0.5rem;
  color: black;
}
.nav-link:hover {
  color: lightblue;
  background-color: gray;
}
.nav-link:active {
  color: blue;
  background-color: darkgray;
}
@media screen and (min-width: 768px) {
  .nav-link + .nav-link {
    margin-left: 1rem;
  }
}
.main {
  max-width: 60ch;
  margin: 0 auto;
  padding: 1rem;
}
.main > * {
  border-top: 0.125rem solid lightblue;
  padding: 0 1rem;
}
.main > * + * {
  margin-top: 3rem;
}
.main > *:first-child {
  border-top: none;
}

.profession::after {
  content: "🦌";
}
.article-heading {
  position: relative;
  left: -1rem;
}

.experience-header {
  display: flex;
  flex-direction: column;
}
.hire-me {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0, 5rem;
  border-radius: 0.25rem;
  background: violet;
  color: black;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

@media print {
  .hire-me {
    display: none;
  }

  .navigation {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .main > * + * {
    margin-top: 5rem;
  }
}
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .experience-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}
.experience-header {
  display: flex;
  flex-direction: column;
}
