* {
  box-sizing: border-box;
}

:root {
  --clr-bg: aquamarine;
  --clr-acc: salmon;
  --clr-darker: rgba(0 0 0 / 0.35);
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

:root {
  --clr-bg: aquamarine;
  --clr-acc: salmon;
  --clr-darker: rgba(0 0 0 / 0.35);
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}
